@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

body {
  font-family: 'DM Sans', sans-serif;

  color: $secondary;
}

.q-card {
  border-radius: 20px !important;
  width: 100%;

  background-color: $dark;
  color: $secondary;

  &__section:first-child {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 1px;
      background-color: $secondary;
      border-radius: 100px;
    }
  }

  &__actions {
    padding: 15px;
  }

  .q-btn {
    border-radius: 15px;
  }
}

.q-tab {
  &__label {
    text-transform: none;
  }
}

.q-btn {
  text-transform: none;
  border-radius: 15px;
}

.q-chip {
  margin: 0;
}

.q-select__dialog {
  background: $dark;
  border: 2px solid $secondary;
  border-radius: 15px !important;

  .q-field__native {
    color: $secondary;
    font-size: 2em;
    line-height: 1em;
    font-weight: 400;
    padding-bottom: 12px;
  }

  .q-field__control {
    background: rgba(0, 0, 0, 0.2);
  }

  .q-field__control-container {
    padding-top: 40px !important;
  }

  .q-field__label {
    background: $secondary;
    padding: 0.2em 0.5em;
    border-radius: 999px;
    top: 24px;
    color: $dark;
  }
}

.q-field {
  &--with-bottom {
    padding: 0;
  }
  &__bottom {
    display: none;
  }

  &--outlined .q-field__control{
    border-radius: 13px;
  }

  /* &__control::before,
  &__control::after {
    border-radius: 13px !important;
  } */
}
